<header>
  {{#if isLoggedIn}}
  <nav class="navbar fixed-top">
    <div class="container">
      <a class="site-logo navbar-brand" href="/">
        E-Book Library
      </a>
      <a href="/library" class="btn">Library</a>
      <a href="/explore" class="btn">Explore</a>
      <a href="/api/logout" class="btn">Logout</a>
    </div>
  </nav>

  {{else}}
  <nav class="navbar fixed-top">
    <div class="container">
      <a class="site-logo navbar-brand" href="/">
        Auth Example! 🕵️
      </a>
      <a href="/login" class="btn">Login</a>
      <a href="/signup" class="btn">Sign Up</a>

    </div>
  </nav>


  {{/if}}
</header>