<header>
  <a class="site-logo" href="/">
    Auth Example! 🕵️
  </a>
  {{#if isLoggedIn}}
  <a href="/api/library">Library</a>
  <a href="/api/logout">Logout</a>
  <a href="/api/explore">Explore</a>
  {{else}}
  <a href="/login">Login</a>
  <a href="/signup">Sign Up</a>
  {{/if}}
</header>