<header>
    <nav id="sidebar" class="bg-light">
        <ul class="list-unstyled components">
            <li>
                <a href="/library">Library</a>
            </li>
            <li>
                <a href="/explore">Explore</a>
            </li>
            <li>
                <a href="/api/logout">Logout</a>
            </li>

        </ul>

    </nav>
</header>