{{> header}}
<br />
<main class="container position-relative">
  <div class="row justify-content-center">
    <div class="col-xl-6">
      <div class="text-center text-white">
        <br />
        <h1>Welcome to the E-Book Library</h1>
        <br />
        <p>Here we offer a collection of books that you can browse and search through! Try out our E-Book Library now!
        </p>
        <a href="/signup" class="btn btn-success">Sign Up</a>
        <br />
      </div>

    </div>
  </div>


</main>
{{> footer}}